# Dependencies 
node_modules/ 
/.pnp 
.pnp.js 
 
# Production 
build/ 
dist/ 
dev-dist/ 
 
# Environment 
.env 
.env.local 
.env.development.local 
.env.test.local 
.env.production.local 
 
# Editor 
.vscode/ 
.idea/ 
 
# Python 
venv/ 
__pycache__/ 
